.footer {
  width: 100%;
  padding-top: 50px;
  background-color: #f8f8f8;
  flex-direction: column;
  align-items: center;
}

.align-card {
  align-items: flex-start !important;
  padding-bottom: 30px;
}

.footer-card {
  width: 20%;
  color: #666;
}

.footer-title {
  font-family: segoe ui;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #000;
}

.quick_links {
  list-style-type: none;
}

.quick_link {
  padding-top: 5px;
  padding-bottom: 5px;
}

a.quick_tag {
  color: #666666;
  text-decoration: none;
}

.blogs {
  list-style: disc;
}

.social {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 30px;
  margin-top: 10px;
}

.icon1 {
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

li,
button {
  cursor: pointer;
}

.pay {
  margin-top: 7px;
}

/* ******* copyright section ******* */

.copyright {
  width: 100%;
  height: 40px;
  background-color: #f8f8f8;
  text-align: center;
  font-family: segoe ui;
  border-top: 0.1px solid #bfbfbf;
}
