.header {
  height: 80px;
  background-color: #fff;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.logo-container {
  line-height: 80px;
}

.logo {
  color: #38833d;
}

.logo span {
  color: var(--primary-color);
}
/* .accessible-section{
  display: flex;
  align-items: center;
  gap: 15px;
} */

/* .search-box {
    display: flex;
    justify-content: center;
} */

.search-input {
  width: 350px;
  height: 40px;
  font-size: 15px;
  text-indent: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none; */
}

.search-input:focus {
  outline: none;
}

/* .search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0px 25px;
} */

/* ===================drop down==================== */

.bold-link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.user-account {
  display: flex;
  align-items: center;
}

/* cart */

.cart-container {
  position: relative;
  width: 50px;
}

.cart {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 20px;
}

.item-count {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

/* ===== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .user {
  cursor: pointer;
  border-radius: 15px;
  padding-right: 15px;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 15px;
  justify-content: flex-start;
  gap: 10px;
}

.user-icon {
  font-size: 27px;
}

.user-name {
  font-size: 15px;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 27px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.prime-link {
  line-height: 50px;
  font-weight: 600;
  color: #787878;
  text-decoration: none;
  padding-inline: 30px;
}

.prime-link:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
 
}

@media (max-width: 700px) {
  .mobile-header{
    flex-direction: column-reverse;
  }
  .with-search{
    display: none;
  }
  .search-input{
    width: 100%;
    position: sticky;
    top: 0;
  }
  .user-account{
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
}
