* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Primary Color */
  --primary-color: #5fa30f;

  /* Complementary Colors */
  --deep-green: #3a6a08;
  --soft-beige: #f1e4d3;

  /* Accent Colors */
  --vibrant-yellow: #f7e07e;
  --warm-brown: #8d4e24;

  /* Neutral Colors */
  --light-gray: #d0d0d0;
  --charcoal: #333333;
}

/* ******* reuseable css section *******  */
.container {
  display: flex;
  justify-content: center;
  /* background-color: #5fa30f; */
}

.container-center {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: yellow; */
}

.border-line {
  border-bottom: 1px solid #eaeaea;
}

.direction {
  flex-direction: column;
}

.btn {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  border: none;
  background-color: var(--primary-color);
}
