/* ******* free delivery section ******* */

.quality {
  width: 90%;
  position: relative;
  padding-block: 30px;
}

.qua-com {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-icon {
  font-size: 33px;
  color: #5fa30f;
  margin-bottom: 15px;
}

.quality_text {
  font-family: Arial;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: dimgray;
}

/* ******* top categories section ******* */

.product_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product {
  width: 15%;
  /* height: 270px; */
  border: 1px solid #eaeaea;
}

.product_img {
  /* padding-top: 20px; */
  width: 100%;
}

.product_heading {
  line-height: 50px;
  font-family: Arial;
  font-weight: 400;
  font-size: 17px;
  color: #000;
  text-align: center;
}

/* food container */

.food-container {
  background-color: #e7e7e7;
  background-image: url("https://www.pngitem.com/pimgs/m/661-6611238_pink-flower-pattern-watercolor-design-floral-flowers-flower.png");
  background-attachment: fixed;
  padding-block: 40px;
}

/* ******* advertisement section ******* */
.advertisement {
  padding-block: 30px;
}

.advertisement-box {
  width: 45%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.advertisement-box.left {
  background-image: url("../media/img/b1.png");
}

.advertisement-box.right {
  color: #000000;
  background-image: url("../media/img/a2.png");
}

.advertisement-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.advertisement-box p {
  font-size: 16px;
  line-height: 1.6;
}

.ad-btn {
  padding: 10px 25px;
  border-radius: 10px;
  margin-block: 10px;
}

/* ******* new section ******* */

/* ******* newsletter section ******* */

.subscribe {
  display: flex;
  justify-content: flex-end;
  gap: 300px;
}

.subscribe-container {
  width: 30%;
  font-size: 0px;
}

.subscribe-title {
  font-size: 40px;
  padding-bottom: 40px;
  font-weight: 300;
  text-align: center;
  padding-block: 50px;
}

.off {
  color: #ff0000;
  font-weight: 900;
}

.subscribe-text {
  color: #666;
  font-size: 17px;
  text-align: center;
  padding-bottom: 25px;
}

.subscribe-image {
  width: 100%;
  transform: scaleX(-1);
}
